# Copyright (c) 2021 The Toltec Contributors
# SPDX-License-Identifier: MIT

# This rule makes systemd track input devices as `.device` units, so that
# other services can declare a dependency on them.
ACTION=="add", SUBSYSTEM=="input", TAG+="systemd"
