[Unit]
Description=rmfakecloud reverse proxy
Documentation=https://github.com/ddvk/rmfakecloud-proxy
After=home.mount network.target
Before=xochitl.service launcher.service
ConditionPathExists=/opt/etc/rmfakecloud-proxy/enabled
ConditionPathExists=/opt/etc/rmfakecloud-proxy/config

[Service]
Environment=HOME=/home/root
ExecStart=/opt/bin/rmfakecloud-proxy -c /opt/etc/rmfakecloud-proxy/config
Restart=on-failure

[Install]
WantedBy=multi-user.target
