[Unit]
Description=View the web interface if running, over wifi
StartLimitIntervalSec=600
StartLimitBurst=4
After=home.mount

[Service]
Type=simple
Environment=HOME=/home/root
Environment=WEBINT_WIFI_RUN_ENV=DAEMON
ExecStart=/opt/bin/webinterface-wifi local-exec
Restart=on-failure

[Install]
WantedBy=multi-user.target
