# Copyright (c) 2021 The Toltec Contributors
# SPDX-License-Identifier: MIT

[Unit]
Description=reMarkable 2 Framebuffer Server
Before=xochitl.service launcher.service remarkable-reboot.service remarkable-shutdown.service
After=opt.mount
StartLimitInterval=30
StartLimitBurst=5
ConditionFileNotEmpty=/opt/lib/librm2fb_server.so.1

[Service]
Type=notify
ExecStart=/usr/bin/xochitl
Restart=on-failure
RestartSec=5
Environment="HOME=/home/root"
Environment="LD_PRELOAD=/opt/lib/librm2fb_server.so.1"

[Install]
WantedBy=multi-user.target
