# Copyright (c) 2020 The Toltec Contributors
# SPDX-License-Identifier: MIT

[Unit]
Description=Launcher which wraps around the standard interface
After=home.mount
StartLimitIntervalSec=600
StartLimitBurst=4

[Service]
ExecStart=/opt/bin/draft
Restart=on-failure
RestartSec=5
Environment="HOME=/home/root"

[Install]
Alias=launcher.service
Alias=xochitl.service
WantedBy=multi-user.target
