# Copyright (c) 2020 The Toltec Contributors
# SPDX-License-Identifier: MIT

[Unit]
Description=Launcher which wraps around the standard interface
After=home.mount
StartLimitIntervalSec=600
StartLimitBurst=4
Conflicts=remux.service tarnish.service xochitl.service

[Service]
ExecStart=/opt/bin/draft
Restart=on-failure
RestartSec=5
Environment="HOME=/home/root"

[Install]
WantedBy=multi-user.target
