[Unit]
Description=Enable the web interface on boot
StartLimitIntervalSec=600
StartLimitBurst=4
After=home.mount sys-subsystem-net-devices-usb0.device

[Service]
Environment=HOME=/home/root
Type=oneshot
ExecStart=/opt/bin/webinterface-onboot local-exec

[Install]
WantedBy=multi-user.target
