# Copyright (c) 2020 The Toltec Contributors
# SPDX-License-Identifier: MIT

[Unit]
Description=reMarkable 2 Framebuffer Server
Before=xochitl.service
After=opt.mount
StartLimitInterval=30
StartLimitBurst=5
Conflicts=

[Service]
ExecStart=/usr/bin/remarkable-shutdown
Restart=on-failure
RestartSec=5
Environment="HOME=/home/root"
Environment="LD_PRELOAD=/opt/lib/librm2fb_server.so"

[Install]
WantedBy=multi-user.target xochitl.service
