[Unit]
Description=Launcher application
After=home.mount
StartLimitInterval=30
StartLimitBurst=5
Conflicts=draft.service remux.service

[Service]
ExecStart=/opt/bin/tarnish
Restart=on-failure
RestartSec=5
Environment="HOME=/home/root"

[Install]
WantedBy=multi-user.target
