name: stable
on:
    push:
        branches:
            - stable
jobs:
    stable:
        name: Build and publish the stable channel
        runs-on: ubuntu-22.04
        steps:
            - name: Checkout the Git repository
              uses: actions/checkout@v4
            - name: Setup Toltec dependencies
              uses: ./.github/actions/setup
            - name: Build packages
              run: |
                make repo FLAGS='--remote-repo ${{ secrets.REMOTE_HTTP }}/stable'
            - name: Sync packages with the remote repository
              uses: ./.github/actions/sync-repository
              with:
                local-path: build/repo/
                ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
                ssh-known-hosts: ${{ secrets.SSH_KNOWN_HOSTS }}
                ssh-port: ${{ secrets.SSH_PORT }}
                remote-path: ${{ secrets.REMOTE_SSH }}:/srv/toltec/stable
            - name: Trigger website rebuild
              run: gh api repos/toltec-dev/web/dispatches -f event_type='update-bootstrap-from-stable'
              env:
                GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
            - name: Create Github Release
              continue-on-error: true
              run: |
                sudo apt-get update && sudo apt-get install -y hub
                hub release create -t $SHA -m $MESSAGE $(date +%G-W%V-%u)
              env:
                SHA: ${{ github.sha }}
                GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
                MESSAGE: ${{ github.event.commits[0].message }}
            - name: Send notification to Discord
              continue-on-error: true
              uses: ./.github/actions/discord-send
              with:
                channel: ${{ secrets.DISCORD_STABLE_CHANNEL_ID }}
                token: ${{ secrets.DISCORD_STABLE_CHANNEL_TOKEN }}
                title: New Toltec stable update available
                link: https://toltec-dev.org/stable
                color: 0x2ea043
                message: ${{ github.event.commits[0].message }}
