name: testing
on:
    push:
        branches:
            - testing
jobs:
    testing:
        name: Build and publish the testing channel
        runs-on: ubuntu-latest
        steps:
            - name: Checkout the Git repository
              uses: actions/checkout@v2
            - name: Setup Python
              uses: actions/setup-python@v2
              with:
                python-version: '3.8'
            - name: Setup Toltec dependencies
              uses: ./.github/actions/setup
            - name: Build packages
              run: make repo FLAGS='--remote-repo ${{ secrets.REMOTE_HTTP }}/testing'
            - name: Sync packages with the remote repository
              uses: ./.github/actions/sync-repository
              with:
                local-path: build/repo/
                ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
                ssh-known-hosts: ${{ secrets.SSH_KNOWN_HOSTS }}
                remote-path: ${{ secrets.REMOTE_SSH }}:/srv/toltec/testing
            - name: Send notification to Discord
              continue-on-error: true
              uses: ./.github/actions/discord-send
              with:
                channel: ${{ secrets.DISCORD_TESTING_CHANNEL_ID }}
                token: ${{ secrets.DISCORD_TESTING_CHANNEL_TOKEN }}
                title: New Toltec testing update available
                link: https://toltec-dev.org/testing
                color: 0xe3b341
                message: ${{ github.event.head_commit.message }}
