# Copyright (c) 2020 The Toltec Contributors
# SPDX-License-Identifier: MIT

[Unit]
Description=Gesture launcher
After=opt.mount
StartLimitInterval=30
StartLimitBurst=5

[Service]
ExecStart=/opt/bin/genie /opt/etc/genie.conf
Restart=on-failure
RestartSec=5
Environment="HOME=/home/root"
Environment="PATH=/opt/bin:/opt/sbin:/opt/usr/bin:/usr/local/bin:/usr/bin:/bin:/usr/local/sbin:/usr/sbin:/sbin"


[Install]
WantedBy=multi-user.target
