# Copyright (c) 2020 The Toltec Contributors
# SPDX-License-Identifier: MIT

[Unit]
Description=App launcher that supports multi-tasking applications
Requires=dev-input-event0.device dev-input-event1.device dev-input-event2.device
After=xochitl.service opt.mount dev-input-event0.device dev-input-event1.device dev-input-event2.device
StartLimitInterval=30
StartLimitBurst=5
Conflicts=draft.service tarnish.service

[Service]
ExecStart=/opt/bin/remux
Restart=on-failure
RestartSec=5
Environment="HOME=/home/root"

[Install]
WantedBy=multi-user.target
