.left, .right {
  display: inline-block;
  width: calc(47% - 10px);
  padding: inherit 0;
  margin-left: 1.5%;
  margin-right: 0.5%;
  vertical-align: text-top;
}

.center, h1, h2, h3, h4, h5 {
  text-align: center;
}

pre {
  padding: 10px;
  background-color: #131521;
  color: #fefefe;
  overflow: auto;
  border-radius: 5px;
  font-size: 90%;
}

body {
  background-color: #f8fcf8;
  margin: 0 auto;
  padding: 20px;
  max-width: 1024px;
  font-family:"-apple-system", "BlinkMacSystemFont", "Helvetica Neue", "Roboto", sans-serif;
}

h1.title {
  font-size: 96px;
  margin: 0px;
}

.logo {
  display: block;
  margin: auto;
  margin-bottom: 60px;
}
